{% set runtest = salt['grains.filter_by']({
    'default': {
        'pkgs':['python-docker']
    }
}, grain='os', merge=salt['pillar.get']('runtest')) %}
{%- set tempest = pillar.get('runtest', {}).get('tempest', {}) %}
